* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: #3a3a3a;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
}
img {
  max-width: 100%;
}
#app {
  padding: 1.25rem;
  margin: 0 auto;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  max-width: 1000px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav ul img {
    height: 120px;
    width: 100px;
}
nav ul .fa, nav ul img {
  display: none;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.3rem 0;
  text-align: center;
}
#banner h1 {
  font-size: 6rem;
}

.hor-line {
  width: 170px;
  height: 1px;
  background-color: var(--secondary-color);
  margin-top: 1rem;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.3rem 0;
}
.my-name p {
  text-align: justify;
  padding: 1rem 0;
}

.skill-list {
  width: 100%;
}
#skill-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.gray-bar1 {
  width: 95%;
  height: 30px;
  background-color: var(--tertiary-color);
}
.white-bar1 {
  width: 5%;
  height: 30px;
  background-color: white;
}
.gray-bar2 {
  width: 85%;
  height: 30px;
  background-color: var(--tertiary-color);
}
.white-bar2 {
  width: 15%;
  height: 30px;
  background-color: white;
}
.gray-bar3 {
  width: 75%;
  height: 30px;
  background-color: var(--tertiary-color);
}
.white-bar3 {
  width: 25%;
  height: 30px;
  background-color: white;
}
#stats-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
}
.stats-list {
  padding: 1.5rem 0;
}
.button {
  padding: 15px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#price-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.price-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
#price-name {
  width: 100%;
  font-size: 2rem;
  padding: 2rem 0;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}
.price-list ul {
  width: 100%;
  list-style-type: none;
}
.price-list ul li {
  width: 100%;
  border-bottom: 1px solid var(--tertiary-color);
  padding: 1rem 0;
}
#price-tag {
  width: 100%;
  border-bottom: 1px solid var(--tertiary-color);
  padding: 1.5rem 0;
}
#price-tag h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.signup-btn {
  width: 100%;
  background-color: lightgray;
  padding: 1.5rem 0;
}
.signup-btn h4 {
  padding: 1rem 1.3rem;
  background-color: white;
}

.review-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem 0;
}
.review-holder img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
#review-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.photo-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
}
#photo-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.my-contact ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.my-contact ul h4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.my-contact ul i {
  font-size: 2rem;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.7rem;
  padding: 2rem 0;
}
input {
  width: 100%;
  padding: 10px;
}
#icons {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 1rem;
  padding: 2rem 0;
}
@media (min-width: 700px) {
  #stats-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
  }
  #price-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .photo-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.7rem;
  }

  #app {
      width: 70%;
  }
  nav {
    position: fixed;
    top: 8vh;
    left: 0;
    background-color: var(--tertiary-color);
    padding: 0;
  }
  nav ul .fa, nav ul img {
    display: block;
    font-size: 2rem;
    line-height: 70px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    width: 100px;
    height: 30px;
 
  }
}
